@model IList<SubscriptionsInputViewModel>
@{
    ViewData["Title"] = "Subscriptions page";
}

<main class="site-content admin">
    @if (this.User.IsInRole("Admin"))
    {
        <h2>Welcome ADMIN!</h2>
        <section class="nav">
            <section class="site-wrapper">
                <nav class="admin-nav">
                    <a asp-controller="AdminPanel" asp-action="Admin" class="active">Subscriptions</a>
                    <a asp-controller="AdminPanel" asp-action="Classes">Classes</a>
                    <a asp-controller="AdminPanel" asp-action="AllUser">Users</a>
                    <a asp-controller="AdminPanel" asp-action="Employees">Trainers</a>
                </nav>
            </section>
        </section>

        <section class="site-wrapper">
            <section class="main">
                <section class="add-section">
                    <a asp-controller="AdminPanel" asp-action="AddSubscription">
                        <i class="fas fa-plus-circle"></i>
                    </a>
                </section>
                <section class="subs">
                    @foreach (var subscriptions in Model)
                    {
                        <article class="sub">
                            <section class="sub-img">

                                <img src="@subscriptions.ImageUrl" alt="Image not found!">
                            </section>
                            <section class="sub-name">@subscriptions.Name</section>
                            <section class="sub-price">@subscriptions.Price €</section>
                            <section class="sub-discount">@subscriptions.Discount %</section>
                            @if (subscriptions.IsActive == true)
                            {
                                <section class="sub-status">Active!</section>
                            }
                            else
                            {
                                <section class="sub-status">Not Active!</section>
                            }
                            <section class="card-actions">
                                <a asp-controller="AdminPanel" asp-action="EditSubscription" asp-route-id="@subscriptions.Id" class="edit">Edit</a>
                                <a asp-controller="AdminPanel" asp-action="DeleteSubscription" asp-route-id="@subscriptions.Id" class="delete">Delete</a>
                            </section>
                        </article>
                    }
                </section>
            </section>
        </section>
    }
</main>