@model IList<EmployeeInputViewModel>
@{
    ViewData["Title"] = "Employees page";
}

<main class="site-content admin">
    @if (this.User.IsInRole("Admin"))
    {
        <partial name="AdminNavigationBar/_AdminNavigationBarEmployeeActive" />
        <section class="site-wrapper">
            <section class="main">
                <section class="add-section">
                    <a asp-controller="AdminPanel" asp-action="AddEmployee">
                        <i class="fas fa-plus-circle"></i>
                    </a>
                </section>
                <section class="trainers">
                    @foreach (var employee in Model)
                    {
                        <article class="trainer">
                            <section class="trainer-img">
                                <img src="@employee.ImageUrl" alt="Image not found!">
                            </section>
                            <section class="trainer-name">@employee.Fullname</section>
                            <section class="trainer-title">@employee.Title</section>
                            <section class="trainer-salary">@employee.Salary €</section>
                            <section class="card-actions">
                                <a asp-controller="AdminPanel" asp-action="EditEmployee" asp-route-id="@employee.Id" class="edit">Edit</a>
                                <a asp-controller="AdminPanel" asp-action="DeleteEmployee" asp-route-id="@employee.Id" class="delete">Delete</a>
                            </section>
                        </article>
                    }
                </section>
            </section>
        </section>
    }
</main>